$primary-color: #272727;
$accent-color: #259dff;
$text-color: #ffffff;
$font-weights: (
    "regular":400,
    "medium":500,
    "bold":700,
);


canvas {
    position: fixed;
    top: 0;
    left: 0;
  }



.title-name {
  text-align: center;
  width: 100%;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
      margin: 0% auto;
      display: inline-block;
      font-size: xxx-large;
      font-weight: map-get($font-weights , bold );
  }

  p {
    font-size: large;
    font-weight: map-get($font-weights , medium );
  }
}





.main {
  width: 100%;
  z-index:1;
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:auto;
  font-size: large;
  

  .first {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 5%;
    text-align: left;

    h1 {
        font-size: x-large;
    }
 
  }

  .second {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 35%;
    text-align: left;
  }

  .third {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 65%;
    text-align: left;
  }

  
}



